/* styles.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Change align-items to flex-start to align content at the top */
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #282c34; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.container {
  text-align: center;
  margin-top: 50px; /* Adjust the margin-top as needed for spacing from the top */
}

.my-table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px;
}

.my-table th,
.my-table td {
  border: 1px solid #ffffff; /* White border */
  padding: 12px; /* Increased padding for better spacing */
}

.my-table th {
  background-color: #61dafb; /* Blue header background color */
  color: #282c34; /* Dark text color for header */
}

.my-table td {
  text-align: left;
  white-space: nowrap;
}

.my-table tbody tr:nth-child(even) {
  background-color: #38444d; /* Dark background color for even rows */
}

.my-table tbody tr:hover {
  background-color: #536878; /* Slightly lighter background color on hover */
}

.my-table td.utilization {
  color: var(--utilization-color);
  font-weight: var(--utilization-font-weight);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s infinite;
}
