<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev/Shm Information</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Dev/Shm Information for All Nodes</h1>
      <table class="my-table">
        <thead>
          <tr>
            <th>Node ID</th>
            <th>Site</th>
            <th>Pod</th>
            <th>Available</th>
            <th>Used</th>
            <th>Utilization</th>
          </tr>
        </thead>
        <tbody>
          {% for node_info in nodes %}
          <tr>
            <td>Leaf-{{ node_info.nodeid }}</td>
            <td>{{ node_info.site }}</td>
            <td>{{ node_info.podid }}</td>
            <td>{{ node_info.avail }}</td>
            <td>{{ node_info.used }}</td>
            <td
              style="color: {{ node_info.color }}; font-weight: {{ node_info.font_weight }}; {% if node_info.utilization_percentage > 85 %}animation: blink 1s infinite;{% endif %}"
            >
              {{ "%.2f" % node_info.utilization_percentage }}%
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
