<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev/Shm Information</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>DEV/SHM INFORMATION</h1>

      <table class="my-table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Avail</td>
            <td>{{ avail }}</td>
          </tr>
          <tr>
            <td>Used</td>
            <td>{{ used }}</td>
          </tr>
          <tr>
            <td>Utilization</td>
            <td
              style="color: {{ color }}; font-weight: {{ font_weight }}; {% if utilization_percentage > 85 %}animation: blink 1s infinite;{% endif %}"
            >
              {{ "%.2f" % utilization_percentage }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
